<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
 </head>
<body>
<h1>Employee Form</h1>
 <p th:text="${msg}"/>
	<form th:action="@{/emp}" th:object="${employee}" method="post">
		<table>
			<tr>
				<td>EmpName</td>
				<td><input type="text" th:field="*{empName}"/></td>
				<td th:if="${#fields.hasErrors('empName')}" th:errors="*{empName}"></td>
			</tr>
			<tr>
				<td>EmpAge</td>
				<td><input type="text" th:field="*{empAge}"/></td>
				<td th:if="${#fields.hasErrors('empAge')}" th:errors="*{empAge}"></td>
			</tr>
			<tr>
				<td>EmpSal</td>
				<td><input type="text" th:field="*{empSal}"/></td>
				<td th:if="${#fields.hasErrors('empSal')}" th:errors="*{empSal}"></td>
			</tr>
			<tr>
			 <td></td>
			 <td><input type="submit" value="submit"/></td>
			</tr>
		</table>
	</form>
	<a href="employees">View Employees</a>
</body>
</html>